[Desktop Entry]
Name=FLStream
Comment=Catálogo multimedia para VLC
Exec=/usr/local/bin/flstream-launch
Icon=/usr/local/share/pixmaps/flstream.png
Terminal=false
Type=Application
Categories=AudioVideo;Video;
StartupNotify=true
